body {
    margin: 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.bg-container {
    background-color: #080B1A;
    position: fixed;
    width: 100%;
    height: 100%;
}

.ball {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    filter: blur(130px);
    opacity: 0.5;
}

.ball1 {
    top: -300px;
    left: -300px;
    background: linear-gradient( #7C3AED,#0EA5E9);
}

.ball2 {
    top: 50%;
    left: 50%;
    opacity: 0.3;
    transform: translate(-50%, -50%);
    background-color:#7C3AED;
}

.ball3 {
    bottom: -300px;
    right: -300px;
    background: linear-gradient(#0EA5E9,#7C3AED );
}

/*Login Page*/

#login-card {
    width: 450px;
    height: 550px;
    z-index: 1;
    background: rgba(255,255,255,0.09);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 35px;
    padding: 44px 40px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.9);


}


#logo-icon {
    width: 72px;
    height: 72px;
    border-radius: 18px;
    background: linear-gradient(180deg, #6c3aed, #2563eb);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 16px auto;
    font-size: 70px;
    /*font-weight: 800;*/
    font-family: 'Inknut Antiqua', sans-serif;
    color: #ffffff;
    box-shadow: 0 0 30px rgba(0,0,0, 0.80);

}



#app-name {
    text-align: center;
    font-size: 28px;
    font-family: 'Inknut Antiqua', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.5px;
    margin-bottom: 20px;

    background: linear-gradient(135deg, #00e676, #0ea5e9, #7c3aed);
    background-size: 300% 300%; /* Important for animation */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    animation: gradientMove 4s ease infinite;
}


@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


#divider {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 26px;
}

.divider-line {
    flex: 1;
    height: 2px;
    background: rgba(255, 255, 255, 0.18);
}

.divider-text {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.22);
    white-space: nowrap;
    font-family: 'Iskoola Pota', sans-serif;

}



#login-form {
    display: flex;
    flex-direction: column;
}


.form-label {
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
    font-family: "Iskoola Pota",sans-serif;
    letter-spacing: 0.8px;
}

.form-control {
    background: rgba(255,255,255,0.09) !important;
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.18) !important; ;
    border-radius: 10px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    /*color: #ffffff !important ;*/
    font-size: 14px;
    padding: 12px 14px;
}

.form-control::placeholder {
    font-family: "Iskoola Pota",sans-serif;
    color: rgba(255, 255, 255, 0.22) !important;
    letter-spacing: 1px;
}

.form-control:focus {
    border-color: rgba(108, 58, 237, 0.1)!important;
    box-shadow: 0 0 0 3px rgba(108, 58, 237, 0.18) !important;
    background: rgba(255, 255, 255, 0.10) !important;
}

.form-control.is-invalid {
    border-color: rgba(239, 68, 68, 0.65)!important ;
    box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.12)!important ;
}

.form-control.is-valid {
    border-color: rgba(0, 230, 118, 0.6)!important ;
    box-shadow: 0 0 0 3px rgba(0, 230, 118, 0.12)!important ;
}

.invalid-feedback {
    color: #f87171;
    font-size: 12px;
}

#message-box{
    background: rgba(255,255,255,0.02); !important;
    /*border: 1px solid rgba(255, 255, 255, 0.18) !important; ;*/
    font-size: 14px;
    padding: 12px 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 25px;

}

#login-btn{
    border: 1px solid rgba(255, 255, 255, 0.35) !important;
    border-radius: 10px;
    box-shadow: 0 0px 7px rgba(6, 255, 200, 0.49);
    color: rgb(0, 0, 0) !important ;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: "Tac One",sans-serif;
    margin-top: 0px;
}
#login-btn:hover{
    background: linear-gradient(135deg,#080B1A,#0d152c);
    color: rgb(255, 255, 255) !important ;

}
#login-btn:active{
    background: linear-gradient(135deg,#080B1A,#0d152c);
    color: rgb(255, 255, 255) !important ;
    box-shadow: inset 0 0px 8px rgba(255, 255, 255, 0.92);

}